body {
    margin: 0;
}

.navbar {
    background-color: black;
    height: 80px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    
}

.nav-link {
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin: 0px 20px;
}
