body {
    margin: 0;
    background-color: rgb(165, 225, 221);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.div-info-card {
    background-color: white;
    margin: 0px 20px;
    padding: 15px;
    font-size: 25px;
    border-radius: 10px;
}
