body {
    margin: 0;
    background-color: darkgray;

}

.container {
    position: relative;
    height: 100vh;
}

.box {
    width: 150px;
    height: 150px;
    border: 2px solid white;
    text-align: center;
    color: black;
    font-size: 30px;
}

.box1 {
    background-color: blue;
    position: absolute;
    top: 0;
    left: 0;
}

.box2 {
    background-color: green;
    position: absolute;
    top: 0;
    right: 0;
}

.box3 {
    background-color: purple;
    position: absolute;
    bottom: 0;
    left: 0;
}

.box4 {
    background-color: yellow;
    position: absolute;
    bottom: 0;
    right: 0;
}






