div {
    width: 70%;
    height: 100px;
    margin: 30px;
    border-radius: 15px;
}

#first {
    background-color: blue;
}

#last{
    background-color: green;
}

#middle {
    background-color: yellow;
    position: relative; 
    top: 50px;
    /* right: -15px; */
    left: 45px;
}
