body {

    background-color: rgb(181, 216, 218);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-around;

}

.btn {
    width: 100px;
    font-size: 20px;
    margin-left: 15px ;
    padding: 10px;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
}
